.packageFormContainer {
  display: flex;
  justify-content: center;

}

.packageForm {
  padding: 20px;
  width: 400px;
}

.packageForm h2 {
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.packageForm form {
  display: flex;
  flex-direction: column;
}

.packageForm label {
  margin-bottom: 10px;
  color: #666;
}

.packageForm input,
.packageForm textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.packageForm textarea {
  min-height: 100px;
  width: 300px;
}

.packageForm input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

.packageForm input[type="submit"]:hover {
  background-color: #45a049;
}

.button24 {
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button24:hover,
.button24:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

.button24:active {
  opacity: .5;
}