
.fixedBackgroundSection {
  margin-top: 200px;
  display: flex; 
  justify-content: flex-end; 
  position: relative; /* Establishes the containing block for absolutely positioned elements */
  height: 600px; /* Maximum height for the background section */
  background-image: url('../../images/chavidu/IMG3.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-left: 40px;
  margin-right: 40px;
}

.aboutContent {
  position: absolute;
  top: 0; 
  bottom: 0; 
  width: 37%; 
  background-color: white;
  /* opacity:0.7 ; */
  padding: 20px;
  font-family: 'Roboto', sans-serif;
  /* overflow: auto; Adds scrollbars if content overflows */
}

.aboutContent h3 {
  margin-bottom: 30px;
  font-family: 'Playfair Display', serif;
  font-size: 28px; 
  font-weight: 700; 
  color: #212121; 
}

.aboutContent p {
text-align: justify;
font-size: 16px; 
line-height: 1.6; 
color: #333; 
font-family: 'Faralista';
}

.locationContainer {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 590px;
}

.mapContainer {
  margin-left: 20px;
  flex: 1;
  margin-right: 20px;
  overflow: hidden;
  border-radius: 10px;
}

.detailContainer {
  width: calc(100% - 850px); 
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
}

.title {
  margin-top: 30px;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333333; 
}

.locationicon {
  margin-right: 10px;
  color: #363636; 
}

.contactInfo {
  margin-top: 80px;
}

.contactInfo p {
  margin: 5px 0;
  color: #555555;
}

.contactInfo p span {
  font-weight: bold;
  color: #333333;
}
 

.textContainer{
  margin-top: 80px;
}
.animatedText {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #d7d7d7 0%,
    #858585 20%,
    #171717 40%,
    #252525 60%,
    #7d7d7d 80%,
    #d7d7d7 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 2rem; /* Adjust font size as needed */
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
html {
  scroll-behavior: smooth;
}