body {
    background-color: white;
    margin: 0; /* Reset default margin */
    padding: 0; /* Reset default padding */
}

.homeContainer {
    background-color: white;
}

.dashboard-home {
    display: flex;
    background-color: white;
    flex-direction: row; /* Change to row to display horizontally */
}

.popularService {
    width: 50%; /* Adjust width to fit side by side */
    background-color: #abd5ff;
    border-radius: 15px;
    padding: 20px;
}

.popularService p {
    font-size: 1.5em;
    font-weight: bold;
}

.popularService table {
    width: 100%;
    border-collapse: collapse;
}

.popularService table th,
.popularService table td {
    padding: 10px 30px; /* Increase space between columns */
    text-align: left;
    color: black;
}

.popularService table th:nth-child(2),
.popularService table td:nth-child(2) {
    width: 20%;
    text-align: center;
}

.popularService table tr:nth-child(even) {
    background-color: #e9ecef;
}

.popularService table tr:hover {
    background-color: #ced4da; /* Add hover effect only to table rows, not the header */
}

.piechartcontainer {
    margin-top: 20px; /* Add margin for spacing */
    margin-left: 20px; /* Adjust margin for spacing */
    width: 30%; /* Adjust width to fit side by side */
    background-color: #f8f9fa; /* Change this to your preferred color */
    border-radius: 15px;
    padding: 20px; /* Add padding for spacing */
}

.piechartcontainer p {
    margin-top: 0; /* Remove default margin */
    margin-bottom: 10px; /* Add margin for spacing */
    text-align: center; /* Center horizontally */
    font-weight: bold;
    font-size: 1.5em;
}

/* Adjust the size of the canvas */
#pieChart {
    width: 100%; /* Adjust width to fit container */
    height: 400px;
}
