/* Container for event packages */
.image-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  /* Individual event package card */
  .image-card {
    width: 300px;
    margin: 20px;
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
  }
  
  .image-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  /* Content inside the card */
  .image-card > div {
    cursor: pointer;
  }
  
  .image-card h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .image-card p {
    font-size: 16px;
    color: #666;
    margin-bottom: 5px;
  }
  
  .image-card h2 {
    font-size: 20px;
    color: #f44336;
    margin-top: 20px;
  }
  
  /* Button styles */
  .btn {
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px; /* Adjust spacing between buttons */
  }
  
  .btn:hover {
    background-color: #d32f2f;
  }
  
  /* Add more space between buttons */
  .btn + .btn {
    margin-left: 10px;
  }
  
  .text-uppercase {
    text-transform: uppercase;
  }
  
  .text-decoration-none {
    text-decoration: none;
  }