/* attendancereport.css */

.attendancereport {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .attendancereport th,
  .attendancereport td {
    padding: 8px;
    text-align: center;
  }
  
  .attendancereport th {
    background-color: #007bff;
    color: white;
  }
  
  .attendancereport tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .attendancereport tbody tr:hover {
    background-color: #ddd;
  }
  
  .attendancereport button {
    padding: 5px 10px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .attendancereport button:hover {
    background-color: #c82333;
  }
  