@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
body {
	margin: 0;
	background: #222;
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
}

h1 {
    color: white;
}

.FaqTable {
    align-items: center;
}

.theader {
    font-size: 24px;
}

th {
    color: white;
    text-align: center;
}

td {
    color: white;
}

.UpdateBtn {
    background-color: green;
}

.DeleteBtn {
    background-color: red;
}