/* MessagePage.css */

#Message_page {
    width: 80%;
    margin: auto;
    padding: 20px;
  }
  
  #Message_page_heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  #Message_page_search {
    margin-bottom: 20px;
  }
  
  #Message_page_search_label {
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px;
    color: white;
  }
  
  #Message_page_search_customerId {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  #Message_page_search_customerId::placeholder {
    color: #999;
  }
  
  #Message_page_search_customerId:focus {
    outline: none;
    border-color: #007bff;
  }
  
  #Message_page_search button {
    padding: 8px 16px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  #Message_page_search button:hover {
    background-color: #0056b3;
  }
  
  #Message_table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  #Message_table_heading th,
  #Message_table_body td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  
  
  
  /* Button styles */
  .ReplyBtn {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 8px;
  }

  .DeleteBtn {
    padding: 8px 16px;
    background-color: #ec2a19;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 8px;
  }
  
  #Message_table_body button:hover {
    background-color: #20b1d2;
  }

  #Message_page div {
    margin-bottom: 20px;
  }

  @media (max-width: 768px) {
    #Message_page {
      width: 100%;
      padding: 10px;
    }
  }
  