/* Dashboard Container */
/* .dashboardContainer {
    display: flex;
    max-height: 100vh;
  } */
  
  /* Sidebar */
  /* .sideBar {
    flex: 0 0 250px;
  } */
  
  /* Dashboard Content */
  /* .dashboardContent {
    flex: 1; 
    padding: 20px;
    overflow: hidden;
  } */
  
  /* .removeService{
    margin-top: 100px;
  } */