/* Dashboard Container */
.dashboardContainer {
  display: flex;
  max-height: 100vh;
}

/* Sidebar */
.sideBar {
  flex: 0 0 250px; /* Set sidebar width */
}

/* Dashboard Content */
.dashboardContent {
  flex: 1; /* Take up remaining space */
  padding: 20px;
  overflow: auto;
}

.removeService{
  margin-top: 100px;
}